doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    style(type='text/css').
      #mynetwork {
      width: 100%;
      height: 60%;
      background: #222222;
      }
    // Bootstrap Core CSS
    link(href='../bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // MetisMenu CSS
    link(href='../bower_components/metisMenu/dist/metisMenu.min.css', rel='stylesheet')
    // Custom CSS
    link(href='../dist/css/sb-admin-2.css', rel='stylesheet')
    // Custom Fonts
    link(href='../bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    // if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    script(type='text/javascript', src='javascripts/vis.js')
    script(type='text/javascript', src='javascripts/boxes.json')
    link(href='stylesheets/vis.css', rel='stylesheet', type='text/css')
    script(type='text/javascript').
      var serverIP="210.125.84.69";
      var serverPort="3006";
      //redirect to login page if user is not logged
      var session_username = sessionStorage.getItem('ss_user_name');
      var session_userrole = sessionStorage.getItem('ss_role');
      if(session_username === null){
      window.location.replace("http://"+serverIP+":"+serverPort+"/login");
      }
      //Resource-level Functions Start
      //receive Box objects
      function receiveValueBox(boxs){
      var iframe = document.getElementById('grafanaIframe');
      if (boxs.label == 'SaaS-Box1')
      {
      iframe.src = 'http://210.125.84.69:3000/d/NM5hqr0mk/resource-dashboard-'+boxs.label+'?refresh=10s&orgId=1';
      }
      else if (boxs.label == 'SaaS-Box2')
      {
      iframe.src = 'http://210.125.84.69:3000/d/s7Orw3Aik/resource-dashboard-saas-box2?refresh=10s&orgId=1&theme=light';
      }
      else if (boxs.label == 'SaaS-Box3')
      {
      iframe.src = 'http://210.125.84.69:3000/d/LdCrQq0iz/resource-dashboard-saas-box3?refresh=10s&orgId=1&theme=light';
      }
      else if (boxs.label == 'SaaS-Box4')
      {
      iframe.src = 'http://210.125.84.69:3000/d/f2KCQ3Aik/resource-dashboard-saas-box4?refresh=10s&orgId=1&theme=light';
      }
      }
      //receive brCap Objects
      function receiveValueBrCap(brCaps){
      var iframe = document.getElementById('grafanaIframe');
      console.log(brCaps);
      ////iframe.src = 'http://210.125.84.69:3000/dashboard/db/flow-dashboard-'+brCaps.label+'-'+brCaps.box;
      //iframe.src = 'http://210.125.84.69:3006/opsflowrules/'+brCaps.box;
      }
      //receive VM Objects
      function receiveValueVM(vms){
      var iframe = document.getElementById('grafanaIframe');
      console.log(vms);
      //iframe.src = 'http://210.125.84.69:3000/dashboard/db/flow-dashboard-instance-'+vms.label+'-'+vms.box;
      }
      //Resource-level Functions End
      //Flow-level Functions Start
      //Route to Network Flow View
      function getNetworkFlow(network){
      var iframe = document.getElementById('grafanaIframe');
      //console.log(boxs);
      iframe.src = 'http://210.125.84.69:8008/app/dashboard-example/html/';
      }
      //Route to Box Flow View
      function getBoxFlow(boxs){
      var iframe = document.getElementById('grafanaIframe');
      console.log(boxs);
      //iframe.src = 'http://210.125.84.69:3000/dashboard/db/resource-dashboard-'+boxs.label;
      }
      //Route to Flow Rules + Stats View
      function getBrCapFlow(brCaps){
      var iframe = document.getElementById('grafanaIframe');
      console.log(brCaps);
      iframe.src = 'http://210.125.84.69:3006/opsflowrules/'+brCaps.box;
      }
      //Route to VM View
      function getVMFlow(vms){
      var iframe = document.getElementById('grafanaIframe');
      console.log(vms);
      //iframe.src = 'http://210.125.84.69:3006/opsflowrules/'+brCaps.box;
      }
      //Flow-level Functions End
      //Route to Onion-ring Multi-View for tenant
      function getOnionRingTenant(vlan){
      var iframe = document.getElementById('topoIframe');
      iframe.src = 'http://210.125.84.69:3006/onionringviewtenant/'+vlan;
      }
      //receive objects from psd3
      function receiveTenantID(data){
      //- console.log("Receive Data Success " + data.info);
      var iframe = document.getElementById('grafanaIframe');
      //iframe.src = 'http://http://210.125.84.69:3006/dashboard/db/resource-dashboard-'+data.boxID;
      if (data.label == 'SaaS-Box1')
      {
      iframe.src = 'http://210.125.84.69:3000/d/NM5hqr0mk/resource-dashboard-'+data.label+'?refresh=10s&orgId=1&theme=light';
      }
      else if (data.label == 'SaaS-Box2')
      {
      iframe.src = 'http://210.125.84.69:3000/d/s7Orw3Aik/resource-dashboard-saas-box2?refresh=10s&orgId=1&theme=light';
      }
      else if (data.label == 'SaaS-Box3')
      {
      iframe.src = 'http://210.125.84.69:3000/d/LdCrQq0iz/resource-dashboard-saas-box3?refresh=10s&orgId=1&theme=light';
      }
      else if (data.label == 'SaaS-Box4')
      {
      iframe.src = 'http://210.125.84.69:3000/d/f2KCQ3Aik/resource-dashboard-saas-box4?refresh=10s&orgId=1&theme=light';
      }
      else if (data.label == 'SF')
      {
      iframe.src = 'http://210.125.84.69:8008/app/dashboard-example/html/';
      }
      }
      //Show Panel on Click
      function showPanel(itemID){
      var iframe = document.getElementById('topoIframe');
      console.log(itemID);
      iframe.src = 'http://210.125.84.69:3006/'+itemID.label+'-'+itemID.box;
      }
      // Called when the Visualization API is loaded.
      function draw() {
      document.getElementById('usertext').innerHTML="Logged In User:  "+session_username;
      //Update********************************************************
      var resource = document.getElementById('resourcecentricviewops');
      var flow = document.getElementById('flowcentricviewops');
      var service = document.getElementById('servicecentricviewops');
      var iframe = document.getElementById('topoIframe');
      /*resourcecentricviewops.addEventListener('click', function() {
      document.getElementById('panel-heading-id').innerHTML = '<b><p style="display:inline;font-size:12;color:#e6eeff;text-align:center;">Onion-ring-based Visualization (Operator)</p></b>';
      iframe1.src = 'http://210.125.84.69:3006/onionringviewops';
      });*/
      resource.addEventListener('click', function() {
      document.getElementById('panel-heading-id').innerHTML = '<b><p style="display:inline;font-size:12;color:#e6eeff;text-align:center;">Onion-ring-based Visualization (Operator)</p></b>';
      iframe.src = 'http://210.125.84.69:3006/onionringviewops';
      });
      flow.addEventListener('click', function() {
      document.getElementById('panel-heading-id').innerHTML = 'Flow-Centric Topological View';
      //iframe.src = 'http://210.125.84.69:3006/flowcentricviewops';
      });
      service.addEventListener('click', function() {
      document.getElementById('panel-heading-id').innerHTML = 'Service-Centric Topological View';
      //iframe.src = 'http://210.125.84.69:3006/servicecentricviewops';
      });
      //**************************************************************
      // Create a data table with nodes.
      }
  body(onload='draw()')
    #wrapper(style='width: 1430px;')
      // Navigation
      nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
        .navbar-header(style='background-color:#e0e0d1;width: 1460px; height: 50px; display:inline-block')
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          p
          #titlediv
            b
              h1(style='color:#ff8000;font-family:verdana;text-align:center;display:inline;') SmartX Multi-View Dashboard
          p
        .navbar-default.sidebar(role='navigation')
          .sidebar-nav.navbar-collapse
            ul#side-menu.nav
              li.sidebar-search(style='background-color:#e0e0d1;font-size:12;color:#737373;text-align:center;width: 250px; height: 40px;')
                #usertext.input-group.custom-search-form
              li
                a(href='#', style='background-color:#eaeae1;color:#3c3c2a;')
                  i.fa.fa-bookmark.fa-fw
                  | SmartX Multi-View
                  span.fa.arrow
                ul#parent-list.nav.nav-second-level(style='background-color:#ffffff;')
                  li
                    a#resourcecentricviewops(href='#', style='background-color:#ffffff;') Resource-centric View
                  li
                    a#flowcentricviewops(href='#', style='background-color:#ffffff;') Flow-centric View
                  li
                    a#servicecentricviewops(href='#', style='background-color:#ffffff;') Service-centric View
              li
                a(href='login', style='background-color:#ffe6e6;color:#ff0000;')
                  i.fa.fa-sign-out.fa-fw
                  b Logout
      #page-wrapper(style='width: 1210px;')
        .container-fluid
          .row
            .col-lg-12
              // h1.page-header
        .row(style='width: 1180px;')
          .col-lg-12
            .panel.panel-default
              #panel-heading-id.panel-heading(style='background-color:#003399;text-align:center')
                b
                  p(style='display:inline;font-size:12;color:#e6eeff;text-align:center;') Onion-ring-style Visualization
              .panel-body
                p
                  iframe#topoIframe(src='http://210.125.84.69:3006/onionringviewops', width='1120', height='800')
        .row(style='width: 1180px;')
          .col-lg-12
            .panel.panel-default
              .panel-heading(style='background-color:#003399;text-align:center')
                b
                  p(style='display:inline;font-size:12;color:#e6eeff;text-align:center;') Metrics Visualization Panel
              .panel-body
                p
                  iframe#grafanaIframe(src='', width='1120', height='500')
    // jQuery
    script(src='../bower_components/jquery/dist/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='../bower_components/bootstrap/dist/js/bootstrap.min.js')
    // Metis Menu Plugin JavaScript
    script(src='../bower_components/metisMenu/dist/metisMenu.min.js')
    // Custom Theme JavaScript
    script(src='../dist/js/sb-admin-2.js')
